body {
  margin: 20px;
  padding: 0;
  background: #333;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  border: 3px solid #fff;
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.4s ease-in forwards;
}
.button {
  margin-top: 5px;
  font-family: fantasy;
  color: #fff;
  background: #2a3132;

}
.backwards {
  border-radius: 20px 0px 0px 20px;
}
.forwards {
  border-radius: 0px 20px 20px 0px;
}
.backwards, .forwards {
  border: 1px solid #ffbb00;
  font-size: 17px;
  font-weight: 600;
  width: 50px;
  height: 50px;
}

.auto {
  border: 1px solid #3f681c;
  border-radius: 10px;
  font-weight: 600;
  padding: 0 20px;
  margin-right: 5px;
}

.controls {
  display: flex;
  justify-content: center;
}
